<p id="notice"><%= notice %></p>
<p>
	Name : <%= @contact.name %>  <br/>
	Surname : <%= @contact.surname %> <br/>
	Tel No. :<%= @contact.number %> <br/>
</p>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
